.label-etiqueta-izquierda{
  border-radius: 0px 2px 2px 0px;
  margin-right: -2px;
  margin-left: -4px;
}
.cell-detail-description-producto{
  font-size: 0.85em;
  color: #34a853;
  font-weight: bold;
}
.cell-detail-description-contrato{
  font-size: 0.85em;
  color: #4285f4;
  font-weight: bold;
}
.splash-acceso-container{
  max-width: 600px; 
  margin: 60px auto;
}
.splash-acceso-container .empresa-centro{
  cursor: pointer;
}
.informacion-po{
  color: #37b358;
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
.condicion-po{
  color: #fbbc05;
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
.accion-po{
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ea4335;
  font-weight: bold;
}
.po-regla-descripcion{
  font-size: 1.08em;
}
.po-regla-descripcion strong{
  color: #999;
}
.po-regla-descripcion small{
  font-weight: bold;
}
.etiquetas-reglas .label-etiqueta{
  cursor: pointer;
}
.etiquetas-reglas-modal{
  margin-bottom: 5px;
}
.etiquetas-reglas-modal .label-etiqueta{
  border-radius: 2px 0px 0px 2px;
  cursor: pointer;
}
.etiquetas-reglas-modal .label-etiqueta-ver{
  border-radius: 0px;
  background: #bababa;
  margin-left: -3px;
}
.etiquetas-reglas-modal .label-etiqueta-eliminar{
  border-radius: 0px 2px 2px 0px;
  background: #ea4335;
  margin-right: -2px;
  margin-left: -4px;
  cursor: pointer;
}



.modal-content .modal-header{
  padding: 0px !important;
}

/********* popover ********/

.asignarregla .popover-edit{
  cursor: pointer;
  position: absolute;
  bottom: 6px;
  right: 2px;
}


/*.btn-default { background-color: #dbdbdb; box-shadow: 0px 3px #ccc; }*/
.btn-primary { background-color: #005596; box-shadow: 0px 3px #005596;}

/***************************/

.relative{
  position: relative;
}

.columna_1 {
    background: #bababa;
    color: #000;
}
.columna_2 {
    background: #4285f4;
    color: #fff;
}
.success{
  background: #37b358;
}
.warning{
  background-color: #f6c163 !important;
}
.danger{
  background: #f6c163;
}

.center{
    text-align: center !important;
}
.margen-top-filtro{
  margin-top: 10px;
}
.asignarregla .tools{
  position: absolute;
  top: 0;
  right: 6px; 
}

#btnbuscar span{
  color: #5d82d1 !important;
}

.filtrotabla {
  padding-top: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #2572f2;
}

.tablalaravel{
  padding: 15px;
}
.registrocount{
  padding-top: 31px;
}

.crearcupon .panel-border-color-success  ,
.crearcupon .panel-border-color-warning ,
.crearcupon .panel-border-color-danger {
    border-top: 0px solid #c9c9c9 !important;
}
.crearcupon .panel-border-color-success .panel-heading{
    color: #34a853;
    font-weight: bold;
    font-style: italic;
}

.crearcupon .panel-border-color-warning .panel-heading{
    color: #fbbc05;
    font-weight: bold;
    font-style: italic;
}

.crearcupon .panel-border-color-danger .panel-heading{
    color: #ea4335;
    font-weight: bold;
    font-style: italic;
} 

.columna-success .mdi-check-circle{
    position: absolute;
    font-size: 14px;
    color: #fff;
    top: 4px;
    right: 4px;
}
.requerido{
    color : #ea4335;
}
.dinero{
	height: 26px;
    width: 90px !important;
    display: block !important; 
   	margin: 0 auto;
}
.sporcentaje{
    display: none;
}

.tablaprecio{
	font-size: 0.85em;
}
.columna-success , .columna-success-titulo{
	color: #fff;
  background-color: #5cb85c;
  text-align: center;
  position: relative;
}
.columna-success{
  font-size: 1.4em !important;
}

.columna-default{
  color: #000;
  background-color: #f5f5f5;
  text-align: center;
  position: relative;
}

.columna-warning{
	color: #fff;
  background-color: #d58512;
  font-size: 1.2em;
}

.ocultar{
	display: none;
}
.alertaw{
	width: 50%;
	z-index: 1;
	float: right;
	margin-bottom: 0px ;
}
.panel-ajax-alert{
    position: fixed;
    top: 2px;
    right: 4pc;
    width: 50%;
    z-index: 1205;
}
.input-group-btn .input-sm{
	height: 37px !important;
}

tbody .mdi-check{
	color: #34a853;
}
tbody .mdi-close{
	color: #ea4335;
}


/********** tooltip **********/

.tooltipfr {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltipfr .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 2px;
  position: absolute;
  z-index: 1026;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-style: italic;
  font-size: 0.9em;
}

.tooltipfr .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltipfr:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 767px){
  .main-content-mobile {
    padding-top : 5px !important;
    padding-left : 0px !important;
    padding-right : 0px !important;
  }

  .main-content-mobile .col-mobil{
    padding-left : 0px !important;
    padding-right : 0px !important;
  }

  .main-content-mobile .panel-heading .tools .icon{
    font-size: 30px;
  }
  .main-content-mobile .dataTables_length ,  .main-content-mobile .dataTables_filter{
    text-align: left !important;
    margin-bottom: 12px !important;
  }


}

